<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above-->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <!-- google maps javascript -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXtYe8zTYUThUoB7P3LPuB-qeKpyLkPqs&sensor=true"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="sfSense" ng-controller="MapCtrl">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-light">
        <form ng-submit="searchCrime()">  
          <div class="bar bar-header item-input-inset">
            
            <!-- <img src="img/icons/logo.png" /> -->

            <label class="item-input-wrapper">

              <i class="icon ion-ios7-search placeholder-icon"></i>
                  
              <input class="searchLocation" type="search" placeholder="Current Location" ng-model='mapSearch' ng-keyup="displayClear();">
                   
            </label>
            
            <button type="button" class="button button-clear button-light" ng-hide='searchClear' ng-click="clearSearch();">Clear</button>
          </div>
        </form> 
      </ion-header-bar>

      <ion-content>

        <div id="map-canvas"></div>  

        <div class="tabs tabs-icon-top">
          <a class="tab-item" ng-click="filterBy();">
            <i class="icon"><img src="img/icons/all.png" /></i>
            All
          </a>        
          <a class="tab-item" ng-click="filterBy('theft');">
            <i class="icon"><img src="img/icons/theft-icon.png" /></i>
            Thefts
          </a>
          <a class="tab-item" ng-click="filterBy('assault');">
            <i class="icon"><img class="assult-img" src="img/icons/assult-icon.png" /></i>
            Assaults
          </a>
          <a class="tab-item" ng-click="filterBy('other');">
            <i class="icon"><img class="other-img" src="img/icons/other.png" /></i>
            Other
          </a>
        </div>

      </ion-content>
    </ion-pane>
  </body>
</html>
