<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above-->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <!-- google maps javascript -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXtYe8zTYUThUoB7P3LPuB-qeKpyLkPqs&sensor=true"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="sfSense" ng-controller="MapCtrl">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-light">
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Enter Address" ng-model='mapSearch'>
          </label>
          <button class="button button-clear button-positive" ng-click='searchCrime()'>
            Search
          </button>
        </div>        
      </ion-header-bar>

      <ion-content class="map-container">

        <button ng-click="gpsSearchCrime()" class="button button-block button-positive">Current Location</button>

        <div id="map-canvas"></div>

        <div ng-repeat="filter in filters">
          <button class="filterButton" ng-click="filterBy({{filter}})">{{filter}}</button>
        </div>

      </ion-content>
    </ion-pane>
  </body>
</html>
